extends ./layout.pug

block content
    table.table.is-striped
        thead
            tr
                th Row
                th Event
                th Date
        tbody                
            each val,index in catchEvents
                - var ev = val.data;
                - var rowNum = index+1;
                - console.log(ev);
                tr
                    td
                        div=rowNum 
                    <td>!{ev}</td>
                    td
                        div=val.dateTs  
        tfoot